/* my css */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EFDFCC;
}

img{
    border: 10px solid #D7A184;
    border-radius: 1rem;
}

h1{
    border: 5px dotted #D4C2AD;
    color: #66796B;
    text-align: center;
}

blockquote{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    border: 5px double #D7A184;
}

cite{
    font-size: 1.5rem;
    font-weight: bold;
}

.bigbold{
    font-weight: bold;
    font-size: 1.3rem;
}

a:link{
    text-decoration: none;
    padding: 0.3rem;
}

a:hover{
    color: #66796B;
    background-color: #BA8E7A;
    border-radius: 1rem;
}



